---
import MathLayout from '$src/layouts/MathLayout.astro';
---

<MathLayout>
	<h1>hi</h1>
	<p>hello</p>
	<p style="color: blue;">blue</p>
	<p style="color: green;">green</p>
	<p style="color: red;">red</p>
</MathLayout>
