---
import type { Heading } from './Heading';

type Props = Pick<Heading, 'href' | 'text'>;

const { href, text } = Astro.props;
const slug = href.slice(1);
---

<a {href} x-bind:class=`$store.heading.active === '${slug}' && 'active'`>
	{text}
</a>

<style>
	a {
		margin-block: 0.5em;

		color: var(--cl-foreground);
		text-decoration: none;
		text-shadow: none;

		transition-timing-function: ease;
		transition-duration: 150ms;
		transition-property: color, text-decoration;

		&.active,
		&:hover,
		&:focus-visible {
			--radius: 10px;

			color: var(--cl-accent);
			text-decoration: underline;
			text-shadow: 0 0 var(--radius) var(--cl-accent);
		}
	}
</style>
