---
import { Icon } from 'astro-icon/components';
import type { Heading } from './Heading';
import HeadingListItem from './HeadingListItem.astro';

interface Props {
	headings: Heading[];
}

const { headings } = Astro.props;

const slug = (heading: Heading) => heading.href.slice(1);

function getAllHeadingSlugs(headings: Heading[]): string[] {
	return headings.flatMap(heading => {
		const res = [slug(heading)];
		if (heading.children) {
			const childSlugs = getAllHeadingSlugs(heading.children);
			res.push(...childSlugs);
		}
		return res;
	});
}

function formatSlugs(children: Heading[]): string {
	return JSON.stringify(getAllHeadingSlugs(children));
}
---

<ol>
	{
		headings.map(({ children, ...heading }) => (
			<li>
				{children ?
					<details
						x-bind:open={`$store.heading.active === '${slug(heading)}' || ${formatSlugs(children)}.includes($store.heading.active)`}
					>
						<summary>
							<Icon class="dropdown-icon" name="iconoir:nav-arrow-right" />
							<HeadingListItem {...heading} />
						</summary>

						<Astro.self headings={children} />
					</details>
				:	<HeadingListItem {...heading} />}
			</li>
		))
	}
</ol>

<style>
	summary {
		margin-inline-start: -0.9em;
	}

	li {
		&::marker {
			color: var(--cl-accent);
		}

		> a,
		> details summary {
			display: block;
			margin: 0;
			padding-inline-start: 0.5em;
		}
	}

	details {
		--transition-duration: 250ms;

		&::details-content {
			overflow-y: clip;
			height: 0;
			display: block;
			transition: height var(--transition-duration) ease-out, content-visibility var(--transition-duration) allow-discrete;
		}

		.dropdown-icon {
			color: var(--cl-accent);
			transition: rotate var(--transition-duration) ease-out;
		}
	}

	details[open] {
		&::details-content {
			height: auto;
		}

		.dropdown-icon {
			rotate: 90deg;
		}
	}

	details > :not(summary) {
		margin-inline-start: 1em;
		border-inline-start: 2px solid var(--cl-accent);
	}
</style>
