---
import Bounded from '$/components/Bounded.astro';
import MathExpression from '$/components/MathExpression.astro';
import Reviews from '$/components/Reviews.astro';
import Section from '$/components/Section.astro';
import Timestamp from '$/components/Timestamp.astro';
import Layout from '$/layouts/Layout.astro';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
	const reviews = await getCollection('reviews');
	return reviews.map(review => ({
		params: { id: review.id },
		props: { review },
	}));
}

const { review } = Astro.props;
const { Content } = await render(review);

let DisplayElement: AstroComponentFactory | null = null;
let displayProps: Record<string, unknown> = {};

switch (review.data.thing.type) {
	case 'math': {
		const { expression } = review.data.thing;
		DisplayElement = MathExpression;
		displayProps = { expression };
		break;
	}
}
---

<Layout>
	<Bounded class="container">
		<Section class="review" header={review.data.title} level={1}>
			<header>
				<DisplayElement class="display" {...displayProps} />

				<div class="info-container">
					<p class="timestamp">
						<Timestamp date={review.data.pubDate} />
						{
							review.data.updatedDate && (
								<span class="last-updated">
									(Updated
									<Timestamp date={review.data.updatedDate} />
									)
								</span>
							)
						}
					</p>

					<a class="close" href="/reviews">X</a>
				</div>
			</header>

			<div class="content">
				<Content />
			</div>
		</Section>
		<Reviews />
	</Bounded>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: row;
	}

	.info-container {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: center;
		align-self: start;
	}

	.close {
		margin-block: 0.5rem;
		padding: 0.5rem;
	}

	.review {
		flex: 1;
		max-width: 80ch;
	}

	.content {
		display: contents;
	}

	.content :global(h1, h2, h3, h4, h5, h6) {
		margin-block: 3rem 1rem;
	}

	.content :global(p) {
		line-height: 1.8;
		max-width: 80ch;
	}

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.display {
		margin: 0;
	}

	.timestamp {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		align-items: end;

		font-size: var(--fs-timestamp);
		color: var(--cl-secondary);
	}
</style>
