.rainbow {
	--duration: 1.5s;
	--delay: 0ms;
	--background-size: 200%;

	color: transparent;

	background: linear-gradient(to right, #66f, #09f, #0f0, #f39, #66f);
	background-clip: text;
	background-size: var(--background-size) 100%;
	filter: brightness(150%);

	animation: var(--duration) linear var(--delay) infinite forwards rainbow;
}

.rainbow.disable-text-animations {
	background-size: 100%;
	animation: none;
}

@keyframes rainbow {
	from {
		background-position: 0 0;
	}

	to {
		background-position: var(--background-size) 0;
	}
}

@media (prefers-reduced-motion) {
	.rainbow {
		background-size: 100%;
		animation: none;
	}
}
