---
import { Font } from 'astro:assets';

import BaseLayout from '$src/layouts/BaseLayout.astro';
---

<BaseLayout>
	<Fragment slot="head">
		<Font cssVariable="--font-rodin" preload />
	</Fragment>

	<div
		class="text"
		x-data="{ body: $store.text.body, speaker: $store.text.speaker, show: $store.text.show, lines: $store.text.lines }"
		x-show="show"
	>
		<h1 x-bind:data-text="speaker" x-text="speaker"></h1>
		<div class="body">
			<template x-for="line in lines">
				<p x-bind:data-text="line" x-text="line"></p>
			</template>
		</div>
		<svg>
			<filter id="shadow">
				<feMorphology in="SourceGraphic" operator="dilate" radius="2.5" result="shape"></feMorphology>
				<feFlood flood-color="#444566" flood-opacity="0.75" result="color"></feFlood>
				<feComposite in="color" in2="shape" operator="in" result="outline"></feComposite>

				<feMerge>
					<feMergeNode in="outline" />
					<feMergeNode in="SourceGraphic" />
				</feMerge>
			</filter>
		</svg>
	</div>

	<script>
		import Alpine from 'alpinejs';

		// @ts-expect-error ignore yaml import
		import script from '$src/lib/alleyway.yaml';

		Alpine.store('text', {
			show: true,
			// speaker: 'Mizuki',
			// body: '...',
			speaker: 'Mafuyu',
			body: 'Thank you for your patience.\nHow does your foot feel?',

			get lines() {
				// @ts-expect-error tsc doesn't know what this is
				return this.body.split('\n');
			},
		});
	</script>
</BaseLayout>

<style is:global>
	:root {
		--cl-light: #fff;
		--cl-dark: #444566;

		--ff-main: var(--font-rodin);
		--fs-main: 1.5rem;

		--fw-body: 600;
		--fw-heading: 700;
	}

	body {
		display: grid;
		grid-template:
			'clear' 1fr
			'text' calc(6em + 4rem) / auto;

		height: 100vh;

		font-family: var(--ff-main);
		font-size: var(--fs-main);
		color: var(--cl-light);

		background: center/cover url('/src/assets/alleyway/alleyway.png') no-repeat, var(--cl-dark);
	}

	.text {
		--text-margin: 1fr;
		--text-area-size: 6fr;

		--alpha: 0.25;
		--stop: 50%;

		display: grid;
		grid-area: text;
		grid-template-columns:
			var(--text-margin)
			[content-start] var(--text-area-size) [content-end] var(--text-margin);
		grid-template-rows: auto 1fr;
		row-gap: 0.25rem;

		padding-block-start: 1.5rem;

		background: linear-gradient(
			to top,
			rgb(0 0 0 / var(--alpha)) var(--stop),
			transparent
		);

		> * {
			grid-column: content;
		}

		h1 {
			position: relative;

			margin: 0;

			font-size: var(--fs-main);
			font-weight: var(--fw-heading);
			letter-spacing: 1px;

			&::after {
				--alpha: 0.5;
				--stop: 60%;

				content: '';

				position: absolute;
				z-index: -500;
				inset-block-end: 0.25ex;
				inset-inline: -0.5em 0;

				height: 0.65ex;
				border-radius: 1rem;

				opacity: var(--alpha);
				background: linear-gradient(
					to right,
					var(--cl-light),
					transparent var(--stop)
				);
			}
		}

		p {
			margin: 0;
			margin-inline-start: 0.5em;
			font-size: var(--fs-main);
			font-weight: var(--fw-body);

			+ p {
				margin-block-start: -0.2em;
			}
		}

		h1, p {
			&::before {
				content: attr(data-text);
				filter: url(#shadow);
				position: absolute;
				z-index: -300;
			}
		}
	}

	svg {
		position: fixed;
		pointer-events: none;
	}
</style>
