---
import { Font } from 'astro:assets';

import BaseLayout from '$src/layouts/BaseLayout.astro';
---

<BaseLayout>
	<Fragment slot="head">
		<Font cssVariable="--font-rodin" preload />
	</Fragment>

	<button
		class="text"
		x-data
		x-show="$store.text.show"
		x-transition.opacity.duration.500ms
		x-on:click="$store.text.advance()"
		style="display: none;"
	>
		<h1 x-bind:data-text="$store.text.speaker" x-text="$store.text.speaker">
		</h1>
		<div class="body">
			<template x-for="line in $store.text.lines">
				<p x-bind:data-text="line" x-text="line"></p>
			</template>
		</div>
		<svg>
			<filter id="shadow">
				<feMorphology
					in="SourceGraphic"
					operator="dilate"
					radius="2.5"
					result="shape"></feMorphology>
				<feFlood flood-color="#444566" flood-opacity="0.75" result="color"
				></feFlood>
				<feComposite in="color" in2="shape" operator="in" result="outline"
				></feComposite>

				<feMerge>
					<feMergeNode in="outline"></feMergeNode>
					<feMergeNode in="SourceGraphic"></feMergeNode>
				</feMerge>
			</filter>
		</svg>
	</button>

	<script>
		import Alpine from 'alpinejs';

		import alleyway from '$src/assets/alleyway/alleyway.png';
		import ena from '$src/assets/alleyway/ena.png';
		import ena_closeup from '$src/assets/alleyway/ena_closeup.png';
		import mizuki from '$src/assets/alleyway/mizuki.png';
		// @ts-expect-error ignore yaml import
		import script from '$src/lib/alleyway.yaml';
		import { STATE_KEY } from '$src/lib/script';

		Alpine.store('state', { value: Alpine.$persist('').as(STATE_KEY) });
		if (Alpine.store('state').value !== 'alleyway') {
			window.location.replace('/');
		}

		type Node = string | Partial<Settings>;
		interface Settings {
			bg: 'white' | 'black' | 'alleyway' | 'ena' | 'ena_closeup' | 'mizuki';
			delay: number;
			duration: number;
			speaker: string;
		}

		const bgs = {
			mizuki: mizuki.src,
		};

		Alpine.store('text', {
			show: false,
			speaker: '',
			body: '',
			i: 0,
			interval: null,
			currentText: null,

			advance() {
				if (this.interval) {
					clearInterval(this.interval);
					this.interval = null;
					this.body = this.currentText;
					return;
				}

				const node: Node | undefined = script[this.i++];
				console.log(node);
				if (!node) return;

				if (typeof node === 'string') {
					this.show = true;
					this.currentText = node;

					const textSpeed = 100;

					let i = 1;
					this.body = node.slice(0, i++);
					this.interval = setInterval(() => {
						this.body = node.slice(0, i);
						if (i++ === node.length) {
							clearInterval(this.interval);
							this.interval = null;
						}
					}, textSpeed);
				} else {
					if (node.speaker) {
						this.speaker = node.speaker;
					}

					if (node.bg) {
						this.show = false;

						let bg;
						if (node.bg === 'white' || node.bg === 'black') {
							bg = `linear-gradient(${node.bg})`;
						} else {
							bg = `url('/src/assets/alleyway/${node.bg}.png')`;
						}

						const delay = node.delay ?? 1000;
						const duration = node.duration ?? 2000;

						document.body.style.setProperty('--bg-crossfade', bg);
						document.body.style.setProperty(
							'--bg-crossfade-delay',
							`${delay}ms`,
						);
						document.body.style.setProperty(
							'--bg-crossfade-duration',
							`${duration}ms`,
						);
						document.body.style.setProperty('--bg-crossfade-opacity', '1');

						const postDelay = 1000;
						const timeout = delay + duration + postDelay;

						setTimeout(() => {
							document.body.style.setProperty('--bg', bg);
							document.body.style.setProperty('--bg-crossfade-delay', `0ms`);
							document.body.style.setProperty('--bg-crossfade-duration', `0ms`);
							document.body.style.setProperty('--bg-crossfade-opacity', '0');

							setTimeout(() => {
								this.advance();
							}, 1);
						}, timeout);
					} else {
						this.advance();
					}
				}
			},

			get lines() {
				// @ts-expect-error tsc doesn't know what this is
				return this.body.split('\n');
			},
		});

		document.addEventListener('alpine:init', () =>
			setTimeout(() => {
				Alpine.store('text').advance();
			}, 2000),
		);
	</script>
</BaseLayout>

<style is:global>
	:root {
		--cl-light: #fff;
		--cl-dark: #444566;
		--cl-accent: oklch(60% 0.11 337);

		--ff-main: var(--font-rodin);
		--fs-main: 1.5rem;

		--fw-body: 600;
		--fw-heading: 700;

		--z-bg-crossfade: -1000;
		--z-speaker-line: -500;
		--z-text-outline: -200;
	}

	body {
		--bg: linear-gradient(black);
		--bg-crossfade: '';
		--bg-crossfade-delay: 1s;
		--bg-crossfade-duration: 2s;
		--bg-crossfade-opacity: 0;

		display: grid;
		grid-template:
			'clear' 1fr
			'text' calc(6em + 4rem) / auto;

		height: 100vh;

		font-family: var(--ff-main);
		font-size: var(--fs-main);
		color: var(--cl-light);

		accent-color: var(--cl-accent);
		background:
			center/cover var(--bg) no-repeat,
			var(--cl-dark);

		&::before {
			content: '';

			position: fixed;
			z-index: var(--z-bg-crossfade);
			inset: 0;

			opacity: var(--bg-crossfade-opacity);
			background: center/cover var(--bg-crossfade) no-repeat;

			transition: opacity var(--bg-crossfade-duration) linear
				var(--bg-crossfade-delay);
		}
	}

	.text {
		--text-margin: 1fr;
		--text-area-size: 6fr;

		--alpha: 0.25;
		--stop: 50%;

		display: grid;
		grid-area: text;
		grid-template-columns:
			var(--text-margin)
			[content-start] var(--text-area-size) [content-end] var(--text-margin);
		grid-template-rows: auto 1fr;
		row-gap: 0.25rem;

		padding-block-start: 1.5rem;
		border: none;

		font: inherit;
		color: inherit;
		text-align: left;

		background: linear-gradient(
			to top,
			rgb(0 0 0 / var(--alpha)) var(--stop),
			transparent
		);

		> * {
			grid-column: content;
		}

		h1 {
			position: relative;

			margin: 0;

			font-size: var(--fs-main);
			font-weight: var(--fw-heading);
			letter-spacing: 1px;

			&::after {
				--alpha: 0.5;
				--stop: 60%;

				content: '';

				position: absolute;
				z-index: var(--z-speaker-line);
				inset-block-end: 0.25ex;
				inset-inline: -0.5em 0;

				height: 0.65ex;
				border-radius: 1rem;

				opacity: var(--alpha);
				background: linear-gradient(
					to right,
					var(--cl-light),
					transparent var(--stop)
				);
			}
		}

		p {
			margin: 0;
			margin-inline-start: 0.5em;
			font-size: var(--fs-main);
			font-weight: var(--fw-body);

			+ p {
				margin-block-start: -0.2em;
			}
		}

		h1,
		p {
			&::before {
				content: attr(data-text);
				position: absolute;
				z-index: var(--z-text-outline);
				filter: url(#shadow);
			}
		}
	}

	svg {
		pointer-events: none;
		position: fixed;
	}
</style>
