---
import Back from '$src/components/Back.astro';
import BlogCard from '$src/components/BlogCard.astro';
import MainLayout from '$src/layouts/MainLayout.astro';
import { getSortedBlogPosts } from '$src/lib/blog';

const posts = await getSortedBlogPosts();
---

<MainLayout>
	<h1>Blog</h1>

	<section class="grid">
		{posts.map(({ id, data }) => <BlogCard {id} {...data} />)}
	</section>

	<Back />
</MainLayout>

<style>
	.grid {
		--min-card-size: 14rem;

		display: grid;
		grid-auto-rows: auto 8rem auto auto auto;
		grid-template-columns: repeat(
			auto-fill,
			minmax(min(100%, var(--min-card-size)), auto)
		);
		gap: 1rem;
	}
</style>
