---
import Bounded from '$/components/Bounded.astro';
import Favorite from '$/components/Favorite.astro';
import Marquee from '$/components/Marquee.astro';
import type { Link } from '$/components/Nav.astro';
import Nav from '$/components/Nav.astro';
import Section from '$/components/Section.astro';
import Status from '$/components/Status.astro';
import Layout from '$/layouts/Layout.astro';

const links: Link[] = [
	{ body: 'Home', href: '/' },
	{ body: 'Reviews', href: '/reviews' },
	{ body: 'Two', href: '/' },
	{ body: 'Three', href: '/' },
];
---

<Layout class="container">
	<Bounded>
		<Section
			class="marquee"
			as="header"
			header="The Bar at the End of Time"
			level={1}
		>
			<Marquee>
				<li>it's about time you got here, don't you think?</li>
				<li>hihihihihi!!!! :3</li>
				<li class="special">meow meow</li>
			</Marquee>
		</Section>

		<main>
			<div class="main">
				<Section class="welcome" header="Welcome">
					<p>
						effervescence is ephemeral, bounded by the limits of
						time. enjoy the now.
					</p>
				</Section>
			</div>

			<div class="side">
				<Section class="directory" header="Directory" as="nav">
					<Nav {links} />
				</Section>

				<Status class="status" />

				<Favorite />
			</div>
		</main>
	</Bounded>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: end;
	}

	.marquee {
		padding: 0;
	}

	main {
		display: flex;
		flex-direction: row;
	}

	p {
		margin: 0;
	}

	.main {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	.welcome {
		text-align: center;
	}

	.side {
		display: flex;
		flex-direction: column;
		min-width: 20rem;
	}

	.special {
		font-family: Nabla, var(--ff-main);
		font-size: 1.5rem;
	}
</style>
