---
import Bounded from '$/components/Bounded.astro';
import Favorite from '$/components/Favorite.astro';
import Marquee from '$/components/Marquee.astro';
import Directory from '$/components/Directory.astro';
import Section from '$/components/Section.astro';
import Status from '$/components/Status.astro';
import Layout from '$/layouts/Layout.astro';
---

<Layout>
	<Bounded>
		<Section
			class="marquee"
			as="header"
			header="The Bar at the End of Time"
			level={1}
		>
			<Marquee>
				<li>it's about time you got here, don't you think?</li>
				<li>hihihihihi!!!! :3</li>
				<li class="special">meow meow</li>
			</Marquee>
		</Section>

		<main>
			<div class="main">
				<Section class="welcome" header="Welcome">
					<p>
						effervescence is ephemeral, bounded by the limits of
						time. enjoy the now.
					</p>
				</Section>

				<Section class="info" header="Information">
					<p>welcome in, take a seat~</p>

					<p>
						this is a little site i made as an escape from the
						soulless world of modern websites. as a pursuer of a
						computer science degree, i've been dealing with myriad
						flat and boring designs, endless advocates of the newest
						ai model, and overall, a loss of culture and
						individuality that defined the birth of the internet.
					</p>

					<p>
						i wasn't into the "y2k" stuff when it was still around
						(so sad, i know—i only hopped on the gay train way later
						too), but i admire it so much for not being afraid to be
						itself. it shines brightly in a world of nihilism and
						dull conformity, and that is what i aspire to do one
						day, whether i am that light for a whole community or
						even just one person. so, let this be my part to keep
						this culture alive~
					</p>

					<p>
						i'll be sharing my thoughts here about how i'm feeling,
						whatever i'm hyperfixed on at the moment, and maybe
						other small posts, which you can find on the sidebar.
					</p>

					<p>
						if you're not sure where to go, check out the sitemap in
						the directory. take a look and find a cool page!
					</p>
				</Section>
			</div>

			<div class="side">
				<Directory />
				<Status class="status" />
				<Favorite />
			</div>
		</main>
	</Bounded>
</Layout>

<style>
	.marquee {
		padding: 0;
	}

	main {
		display: flex;
		flex-direction: row;
	}

	.main {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	.welcome {
		text-align: center;
	}

	.welcome p {
		margin: 0;
	}

	.info p {
		line-height: 1.25;
		text-align: justify;
	}

	.side {
		display: flex;
		flex-direction: column;
		min-width: 20rem;
	}

	.special {
		font-family: Nabla, var(--ff-main);
		font-size: 1.5rem;
	}
</style>
