---
import Marquee from '$/components/Marquee.astro';
import Section from '$/components/Section.astro';
import Status from '$/components/Status.astro';
import Layout from '$/layouts/Layout.astro';
---

<Layout>
	<Section
		class="marquee"
		as="header"
		header={{ level: 1, body: 'The Bar at the End of Time' }}
	>
		<Marquee>
			<li>it's about time you got here, don't you think?</li>
			<li>hihihihihi!!!! :3</li>
			<li class="special">meow meow</li>
		</Marquee>
	</Section>

	<main>
		<section class="main">
			<Section class="welcome" header="Welcome">effervescence is ephemeral, bounded by the limits of time. enjoy the now.</Section>
		</section>

		<section class="side">
			<Section class="directory" header="Directory" as="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">One</a></li>
					<li><a href="/">Two</a></li>
					<li><a href="/">Three</a></li>
				</ul>
			</Section>

			<Status class="status" />
		</section>
	</main>
</Layout>

<style>
	.marquee {
		padding: 0;
	}

	main {
		display: flex;
		flex-direction: row;
	}

	.main {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	.welcome {
		text-align: center;
	}

	.side {
		display: flex;
		flex-direction: column;
		min-width: 20rem;
	}

	.special {
		font-family: Nabla, var(--ff-main);
		font-size: 1.5rem;
	}
</style>
