---
import Link from '$src/components/Link.astro';
import Section from '$src/components/Section.astro';
import MainLayout from '$src/layouts/MainLayout.astro';
---

<MainLayout>
	<h1>Stinky cheese HAVE</h1>
</MainLayout>

<style>
	.section {
		max-width: 30rem;
	}
</style>
