---
import MainLayout from '$src/layouts/MainLayout.astro';
---

<MainLayout>
	<h1>Have You Seen This Girl?</h1>
</MainLayout>

<style>
	h1 {
		padding-block: 0.5rem;

		font-weight: normal;
		color: var(--cl-on-accent);
		text-align: center;
		text-transform: uppercase;

		background: var(--cl-accent);
	}
</style>
