---
import { Content as Information } from '$/data/information.md';
import { Content as TodoContent } from '$/data/todo.md';

import Bounded from '$/components/Bounded.astro';
import Directory from '$/components/Directory.astro';
import Favorite from '$/components/Favorite.astro';
import Inspiration from '$/components/Inspiration.astro';
import Layout from '$/layouts/Layout.astro';
import Marquee from '$/components/Marquee.astro';
import Section from '$/components/Section.astro';
import Settings from '$/components/Settings.astro';
import SiteButton from '$/components/SiteButton.astro';
import Status from '$/components/Status.astro';
import Webrings from '$/components/Webrings.astro';
---

<Layout>
	<Bounded>
		<Section class="marquee" as="header">
			<h1>The Bar at the End of Time</h1>
			<Marquee>
				<li>it's about time you got here, don't you think?</li>
				<li>hihihihihi!!!! :3</li>
				<li class="special">meow meow</li>
			</Marquee>
		</Section>

		<main>
			<div class="main">
				<Section class="welcome">
					<h2>Welcome</h2>
					<p>
						effervescence is ephemeral, bounded by the limits of
						time. enjoy the now.
					</p>
				</Section>

				<Section class="info">
					<h2>Information</h2>
					<Information />
				</Section>

				<Inspiration />
				<Webrings />
			</div>

			<div class="side">
				<Directory />
				<Status />
				<Favorite />
				<Settings />
				<SiteButton />

				<Section class="todo">
					<h2>Todo</h2>
					<TodoContent />
				</Section>
			</div>
		</main>
	</Bounded>
</Layout>

<style>
	.marquee {
		padding: 0;
		min-width: 0;
	}

	main {
		display: flex;
		flex-direction: row;
	}

	.main {
		display: flex;
		flex: auto;
		flex-direction: column;
		min-width: 0;
	}

	.welcome {
		text-align: center;
	}

	.welcome p {
		margin: 0;
	}

	.info :global(p) {
		line-height: 1.6;
	}

	.side {
		display: flex;
		flex-direction: column;
	}

	.special {
		font-family: var(--ff-special);
		font-size: 1.5rem;
	}

	.todo {
		line-height: 1.4;
	}

	.todo > :global(ul) > :global(li) {
		margin-block-end: 0.75rem;
	}
</style>
