---
import Link from '$src/components/Link.astro';
import Section from '$src/components/Section.astro';
import MainLayout from '$src/layouts/MainLayout.astro';
---

<MainLayout>
	<h1>Have You Seen This Girl?</h1>
</MainLayout>

<style>
	h1 {
		font-weight: normal;
		color: var(--cl-on-accent);
		text-align: center;
		text-transform: uppercase;
		padding-block: 0.5rem;

		background: var(--cl-accent);
	}
</style>
