---
import MainLayout from '$src/layouts/MainLayout.astro';
---

<MainLayout>
	<h1>Learning in Public</h1>
	<p>
		here's where i'll be documenting my study on topica that i randomly get
		interested in! for example, there might be cybersec writeups for ctf's and
		such, or it might be sharing my notes on a certain math textbook. who knows?
	</p>

	<nav>
		<ul>
			<li>
				<a href="cryptopals/">cryptopals writeups</a>
				<p>cryptography challenges (completely unrelated to cryptocurrency)</p>
			</li>
		</ul>
	</nav>
</MainLayout>

<style>
	li {
		margin-inline-start: 1.5em;

		a + p {
			margin-block: 0;
			margin-inline: 1em 0;
			font-size: 0.9rem;
			font-style: italic;
		}
	}
</style>
