---
import Layout from '$/layouts/Layout.astro';
---

<Layout title="beyond the walls">
	<main>
		<div class="container">
			<h1>Boundary Shatter</h1>
			<p>Let's get you <a href="/">back in bounds.</a></p>
		</div>
	</main>
</Layout>

<style>
	main {
		display: grid;
		height: 100svh;
	}

	.container {
		place-self: center;
		padding: 1rem 1.5rem;
		border: 0.25rem outset var(--cl-accent);
		text-align: center;
	}
</style>
