---
import Layout from '$/layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>Boundary Shatter</h1>
		<p>Let's get you <a href="/">back in bounds.</a></p>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		height: 100svh;
	}
</style>
