---
import BackToHome from '$/components/BackToHome.astro';
import Bounded from '$/components/Bounded.astro';
import DirectoryList, { type Item } from '$/components/DirectoryList.astro';
import Section from '$/components/Section.astro';
import Layout from '$/layouts/Layout.astro';

const items: Item[] = [
	{
		name: 'about',
		description: 'more about me',
	},
	{
		name: 'reviews',
		description: 'my reviews about random things that I like',
	},
	{
		name: 'blog',
		description:
			"micro-posts on what i'm feeling or other things that happen",
	},
	{ name: 'sitemap', description: 'this page!' },
];
---

<Layout>
	<Bounded>
		<Section>
			<h1>Sitemap</h1>
			<DirectoryList header={{ level: 2, body: 'Root' }} {items} />
			<BackToHome />
		</Section>
	</Bounded>
</Layout>
