---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
	image: ImageMetadata;
	alt: string;
	outbound?: boolean;
}

const iconSize = 32;

const { image: src, alt, outbound = false } = Astro.props;
---

<div class:list={['message', { outbound }]}>
	<Image {src} {alt} width={iconSize} height={iconSize} />
	<div class="texts">
		<slot />
	</div>
</div>

<style>
	.message {
		display: flex;
		gap: 0.5em;
		font-size: 0.875em;

		& .texts {
			display: flex;
			flex-direction: column;
			gap: 0.15em;
			align-items: start;
		}

		& :global(p) {
			flex: auto;

			margin-block: 0;
			margin-inline: 0 1em;
			padding: 0.25em 0.85em;
			border-radius: 1rem;

			color: var(--cl-on-accent);

			background: var(--cl-accent);
		}

		&.outbound {
			flex-direction: row-reverse;

			& .texts {
				align-items: end;
			}

			& :global(p) {
				margin-inline: 1em 0;
				border: 1px solid var(--cl-accent);
				color: var(--cl-on-container);
				background: var(--cl-container);
			}
		}
	}

	.icon {
		aspect-ratio: 1;
		border-radius: 100%;
		object-fit: cover;
	}
</style>
