---
import bunnyIcon from '$src/assets/icons/bunny.webp';
import flowerIcon from '$src/assets/icons/flower.webp';
import macaronIcon from '$src/assets/icons/macaron.webp';
import notesIcon from '$src/assets/icons/notes.webp';

import ChatMessage from './ChatMessage.astro';

const bunny = { image: bunnyIcon, alt: 'Pink macaron' };
const flower = { image: flowerIcon, alt: 'Pink flower bud', outbound: true };
const macaron = { image: macaronIcon, alt: 'Small bunny doll' };
const notes = { image: notesIcon, alt: 'Pink shirt button' };
---

<div class="chat">
	<ChatMessage {...notes}>
		<p>are you okay?</p>
	</ChatMessage>

	<ChatMessage {...flower}>
		<p>maybe...?</p>
		<p>no...</p>
	</ChatMessage>

	<ChatMessage {...bunny}>
		<p>are you okay?</p>
	</ChatMessage>

	<ChatMessage {...macaron}>
		<p>are you okay?</p>
	</ChatMessage>

	<ChatMessage {...flower}>
		<p>uh</p>
		<p>wtf</p>
	</ChatMessage>
</div>

<style>
	div {
		display: flex;
		flex-direction: column;
		gap: 0.75em;
	}
</style>
