---
import { parseNode } from '$src/lib/script';
// @ts-expect-error ignore yaml import
import data from '$src/lib/script.yaml';

const entry = parseNode(data);
---

<div hidden id="console-script" data-entry={JSON.stringify(entry)}></div>

<script>
	import Alpine from "alpinejs";

	import {
		clearStore,
		displayEntry,
		type Entry,
		getStoredChoices,
		getStoredIndex,
		resume,
		STATE_KEY,
	} from '$src/lib/script';

	function main() {
		// @ts-expect-error ignore missing $persist plugin key
		Alpine.store('state', { value: Alpine.$persist('').as(STATE_KEY) });

		// @ts-expect-error ignore missing store key
		if (Alpine.store('state').value === 'alleyway') {
			window.location.assign('/alleyway/');
		}

		// @ts-expect-error ignore missing store key
		if (Alpine.store('state').value === 'with our wounded hands') {
			return;
		}

		const el = document.getElementById('console-script')!;
		let entry: Entry = JSON.parse(el.dataset.entry!);
		let i: number | undefined = undefined;

		const choices = getStoredChoices();
		if (choices.length > 0) {
			const index = getStoredIndex();
			const res = resume(entry, choices, index);

			if (res) {
				const [newIndex, newEntry] = res;
				i = newIndex;
				entry = newEntry;
			} else if (res === undefined) {
				clearStore();
			} else {
				return;
			}
		}

		displayEntry(Alpine, entry, i);
	}

	main();
</script>
