---
import { parseNode } from '$src/lib/script';
import data from '$src/lib/script.yaml';

const entry = parseNode(data);
---

<div id="console-script" data-entry={JSON.stringify(entry)}></div>

<script>
	import {
	clearStore,
	displayEntry,
	type Entry,
	getStoredChoices,
	getStoredIndex,
	resume,
} from '$src/lib/script';

	const el = document.getElementById('console-script')!;
	let entry: Entry = JSON.parse(el.dataset.entry!);

	const choices = getStoredChoices();
	if (choices.length > 0) {
		const index = getStoredIndex();
		const newEntry = resume(entry, choices, index);
		if (newEntry) {
			entry = newEntry;
		} else {
			clearStore();
		}
	}

	displayEntry(entry);
</script>
