---
import { parseNode } from '$src/lib/script';
import data from '$src/lib/script.yaml';

const entry = parseNode(data);
---

<div id="console-script" data-entry={JSON.stringify(entry)}></div>

<script>
	import { displayEntry, type Entry } from '$src/lib/script';

	const el = document.getElementById('console-script')!;
	const entry: Entry = JSON.parse(el.dataset.entry!);
	displayEntry(entry);
</script>
