---
import type { HTMLAttributes } from 'astro/types';
import Section from '$/components/Section.astro';
import Nav, { type Link } from '$/components/Nav.astro';

const links: Link[] = [
	{ body: 'Home', href: '/' },
	{ body: 'About', href: '/about' },
	{ body: 'Reviews', href: '/reviews' },
	{ body: 'Blog', href: '/blog' },
	{ body: 'Sitemap', href: '/sitemap' }, // NOTE: make sure to update the sitemap too!
];

type Props = HTMLAttributes<'nav'>;

const { class: className, ...rest } = Astro.props;
---

<Section as="nav" class={className ?? undefined} {...rest}>
	<h2>Directory</h2>
	<Nav {links} />
</Section>
