---
import type { HTMLAttributes } from 'astro/types';
import Section from '$/components/Section.astro';
import Nav, { type Link } from '$/components/Nav.astro';

const links: Link[] = [
	{ body: 'Home', href: '/' },
	{ body: 'Reviews', href: '/reviews' },
	{ body: 'Blog', href: '/blog' },
	{ body: 'Sitemap', href: '/sitemap' },
];

type Props = HTMLAttributes<'nav'>;

const { class: className, ...rest } = Astro.props;
---

<Section header="Directory" as="nav" class={className ?? undefined} {...rest}>
	<Nav {links} />
</Section>
