---
import MathExpression from '$/components/MathExpression.astro';
import Timestamp from '$/components/Timestamp.astro';

interface Props {
	title: string;
	date: Date;
	expression: string;
}

const { title, date, expression } = Astro.props;
---

<div class="container">
	<h3>{title}</h3>
	<Timestamp {date} />
	<MathExpression class="math" {expression} />
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		padding-block: 1rem;
	}

	h3 {
		grid-area: title;
		align-self: end;
		min-width: max-content;
		margin: 0;
	}

	time {
		grid-area: date;
		align-self: end;
		font-size: var(--fs-timestamp);
		color: var(--cl-secondary);
	}

	.math {
		grid-area: math;
		flex: 1;
		place-self: center;
		margin-block: 0;
	}
</style>
