---
import Section from '$/components/Section.astro';
import { getCollection } from 'astro:content';
import FavoriteMath from '$/components/FavoriteMath.astro';
import dayjs from 'dayjs';
import type { HTMLTag } from 'astro/types';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';

const { class: className, ...rest } = Astro.props;

let Element: HTMLTag | AstroComponentFactory = 'p';
let props: Record<string, unknown> = { 'set:text': "Didn't find anything..." };

type Unpacked<T> = T extends (infer U)[] ? U : T;

const reviews = await getCollection('reviews');
const latestReview = reviews.reduce<Unpacked<typeof reviews> | null>(
	(prev, current) =>
		prev && dayjs(prev.data.pubDate).isAfter(dayjs(current.data.pubDate))
			? prev
			: (current ?? current),
	null,
);

if (latestReview) {
	const { title, pubDate, updatedDate } = latestReview.data;

	switch (latestReview.data.thing.type) {
		case 'math': {
			const { expression } = latestReview.data.thing;
			Element = FavoriteMath;
			props = { title, date: updatedDate ?? pubDate, expression };
			break;
		}
	}
}
---

<Section header="Cool Thing" class:list={[className, 'favorite']} {...rest}>
	<Element {...props} />
	{
		latestReview && (
			<a href={`/reviews/${latestReview.id}`}>Read the review</a>
		)
	}
</Section>

<style>
	.favorite {
		display: flex;
		flex-direction: column;
	}

	a {
		place-self: end;
	}

	a::after {
		content: ' >>';
	}
</style>
