---
interface Props {
	duration?: string;
}

const { duration = '15s' } = Astro.props;

const children = Astro.slots.render('default');
---

<script>
	import { effectsSettings, toggleClass } from '$/lib/effectsSettings';

	const marquees = document.querySelectorAll('.marquee-container');

	effectsSettings.subscribe(settings =>
		toggleClass(settings.marquee, marquees, 'disable'),
	);
</script>

<div class="marquee-container">
	<ul class="content">
		<Fragment set:html={children} />
	</ul>
	<ul class="content second" aria-hidden="true">
		<Fragment set:html={children} />
	</ul>
</div>

<style define:vars={{ duration }}>
	.marquee-container {
		--gap: 1rem;

		overflow: hidden;
		display: flex;
		flex-direction: row;
		gap: var(--gap);

		padding-block: 1rem;
	}

	.content {
		display: flex;
		flex: none;
		gap: var(--gap);
		justify-content: space-around;

		min-width: 100%;
		margin: 0;

		list-style-type: none;

		animation: var(--duration) linear infinite forwards marquee;
	}

	:where(.marquee-container:hover) .content {
		animation-play-state: paused;
	}

	.marquee-container.disable {
		overflow: scroll;
	}

	.marquee-container.disable .content {
		padding-inline: 1rem;
		animation: none;
	}

	.marquee-container.disable .second {
		display: none;
	}

	.content > :global(*) {
		display: grid;
		place-items: center;
	}

	@keyframes marquee {
		from {
			translate: 0 0;
		}

		to {
			translate: calc(-100% - var(--gap)) 0;
		}
	}

	@media (prefers-reduced-motion) {
		.content {
			animation: none;
		}
	}
</style>
