---
const links = [
	{ name: 'about', href: '/about/' },
	{ name: 'blog', href: '/blog/' },
	{ name: 'learning in public', href: '/learning/' },
	{ name: 'shrines', href: '/shrines/' },
	{ name: 'fun stuff', href: '/fun/' },
	{ name: 'guestbook', href: 'https://mocha8686.atabook.org/', newTab: true },
];

const props = (newTab: boolean) =>
	newTab ? { rel: 'noreferrer', target: '_blank' } : {};
---

<nav>
	<ul>
		{
			links.map(({ name, href, newTab = false }) => (
				<li>
					<a {href} {...props(newTab)}>
						{name}
					</a>
				</li>
			))
		}
	</ul>
</nav>

<style>
	ul {
		padding-inline-start: 2em;
		line-height: 1.3;
	}
</style>
