---
import Section from '$/components/Section.astro';
import { getCollection } from 'astro:content';
import Nav from '$/components/Nav.astro';
import dayjs from 'dayjs';
import BackToHome from '$/components/BackToHome.astro';
import Settings from '$/components/Settings.astro';

const reviews = await getCollection('reviews');

interface Props {
	isMainElement?: boolean;
}

const { isMainElement = false } = Astro.props;

const links = reviews
	.toSorted((a, b) => dayjs(b.data.pubDate).diff(dayjs(a.data.pubDate), 'days'))
	.map(review => ({
		body: review.data.title,
		href: `/reviews/${review.id}`,
	}));
---

<div class="container">
	<Section>
		{isMainElement ? <h1>Reviews</h1> : <h2>Reviews</h2>}
		<Nav {links} />
		<BackToHome />
	</Section>

	<Settings />
</div>

<style>
	.container {
		display: flex;
		flex: 1;
		flex-direction: column;
		place-self: start;

		max-width: fit-content;
	}
</style>
