---
interface Props {
	disableSpecialTitle?: boolean;
	class?: string;
}

const {
	class: className = '',
	disableSpecialTitle = false,
	...rest
}: Props = Astro.props;
---

<section
	class:list={[{ 'section-disable-title': disableSpecialTitle }, className]}
	{...rest}
>
	<slot />
</section>

<style>
	section {
		background-color: var(--cl-container);
		border: 3px solid var(--cl-outline);
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		margin: 0.5rem;
		box-shadow: 0 4px 12px -6px black;
	}
</style>
