---
import Section from '$/components/Section.astro';
import SettingsList from '$/components/SettingsList.svelte';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const { class: className, ...rest } = Astro.props;
---

<Section header="Settings" class:list={['container', className]} {...rest}>
	<SettingsList client:load />
</Section>

<style>
	.container {
		display: flex;
		flex-direction: column;
	}
</style>
