---
import Section from '$/components/Section.astro';
import SettingsList from '$/components/SettingsList.svelte';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const { class: className, ...rest } = Astro.props;
---

<Section class:list={['container', className]} {...rest}>
	<h2>Settings</h2>
	<SettingsList client:load />
</Section>

<style>
	.container {
		display: flex;
		flex-direction: column;
	}
</style>
