---
import Section from '$/components/Section.astro';
import button from '$/assets/button.gif';
import CopyCode from '$/components/CopyCode.svelte';

const code =
	'<a href="https://mocha8686.neocities.org" target="_blank" rel+"noreferrer"><img src="https://mocha8686.neocities.org/button.gif" alt="the bar at the end of time" width="88" height="31" /></a>';
---

<Section class="container">
	<h2>Button</h2>
	<div class="button-container">
		<img
			{...button}
			alt="A martini glass next to the text, 'the end of time'"
		/>
	</div>

	<div class="code-container">
		<code>
			{code}
		</code>
	</div>

	<CopyCode class="copy-code" client:load {code} />
</Section>

<style>
	.container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-block: 2rem;
	}

	.button-container {
		display: grid;
		place-self: center;

		padding: 1rem 2rem;
		border: var(--bd-section) var(--cl-accent);

		background-color: var(--cl-bg);
	}

	img {
		place-self: center;
	}

	.code-container {
		overflow-y: auto;
		place-self: center;

		max-width: 12rem;
		max-height: 3rem;
		padding-inline: 0.25rem;
		border: var(--bd-section) var(--cl-accent);

		background-color: var(--cl-bg);
	}

	code {
		word-break: break-all;
	}

	.copy-code {
		place-self: center;
	}
</style>
