---
import Section from '$/components/Section.astro';
import TimeSince from '$/components/TimeSince.svelte';
import getLatestEntry from '$/lib/getLatestEntry';
import { getCollection } from 'astro:content';

const { class: className, ...rest } = Astro.props;

const statuses = await getCollection('statuses');
const latestStatus = getLatestEntry(statuses, 'timestamp');
---

<Section class={className} {...rest}>
	<h2>Status</h2>
	<p>
		<span class="username">mocha8686</span>
		<span class="icon">{latestStatus.data.icon}</span>
	</p>
	<p class="status">{latestStatus.data.status}</p>
	<TimeSince
		client:visible
		class="time-since-update"
		timestamp={latestStatus.data.timestamp}
	/>
</Section>

<style>
	p {
		margin: 0;
	}

	.username {
		font-family: var(--ff-accent-word);
		font-size: var(--fs-accent);
		color: var(--cl-accent);
	}

	.icon {
		font-family: var(--ff-accent-symbol);
		font-size: 0.75rem;
	}

	.time-since-update {
		font-size: var(--fs-timestamp);
		color: var(--cl-secondary);
	}
</style>
