---
import Layout from '$/layouts/Layout.astro';
import getLatestEntry from '$/lib/getLatestEntry';
import BackToHome from '$/components/BackToHome.astro';
import { getCollection } from 'astro:content';
import Section from '$/components/Section.astro';

const reviews = await getCollection('reviews');
const latestReview = getLatestEntry(reviews, 'pubDate');

const href = latestReview ? `/reviews/${latestReview.id}` : '/reviews';
const body = latestReview
	? `my latest review on ${latestReview.data.title}?`
	: 'my reviews?';
---

<Layout title="still in progress">
	<main>
		<Section class="container">
			<h1>Under Construction</h1>
			<p>
				In the meantime, why not check out
				<a {href}>{body}</a>
			</p>
			<BackToHome />
		</Section>
	</main>
</Layout>

<style>
	main {
		display: grid;
		height: 100svh;
	}

	.container {
		place-self: center;
		padding: 1rem 1.5rem;
		border: 0.25rem outset var(--cl-accent);
		text-align: center;
	}
</style>
