---
import Section from '$/components/Section.astro';
---

<Section class="container" header="Webrings">
	<map name="noaimini10b">
		<area
			href="https://baccyflap.com/noai"
			shape="poly"
			coords="38,6,38,18,60,18,60,42,38,42,38,58,136,58,136,6"
			target="_blank"
			alt="no ai webring"
			title="no ai webring"
		/>
		<area
			href="https://baccyflap.com/noai/?prv&s=moc"
			target="_top"
			shape="rect"
			coords="0,0,32,40"
			alt="previous"
			title="previous"
		/>
		<area
			href="https://baccyflap.com/noai/?rnd"
			target="_top"
			shape="rect"
			coords="40,24,56,40"
			alt="random"
			title="random"
		/>
		<area
			href="https://baccyflap.com/noai/?nxt&s=moc"
			target="_top"
			shape="rect"
			coords="142,20,174,60"
			alt="next"
			title="next"
		/>
	</map>
	<img
		style="width:176px;image-rendering:pixelated"
		usemap="#noaimini10b"
		src="https://baccyflap.com/noai/miniwidget10.gif"
		alt="a black rectangle outlined in animated, shifting red and blue pixels, moving around the sign. there are two arrows, one pointing left and one right, protruding from the sign. on the sign are the words THE NO AI WEBRING and a small question mark beside them"
	/>
</Section>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-block: 2rem;
	}
</style>
