---
import Section from '$/components/Section.astro';
import WebringsNoAI from '$/components/WebringsNoAI.astro';
---

<Section class="container" header="Webrings">
	<WebringsNoAI />
</Section>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-block: 2rem;
	}
</style>
