<div class="container">
	<script is:inline defer src="https://transring.neocities.org/ring.js"
	></script>
</div>

<style>
	.container > :global(div) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
