---
import Bucket from './webrings/Bucket.astro';
import NoAI from './webrings/NoAI.astro';
import TransingTheInternet from './webrings/TransingTheInternet.astro';
---

<section>
	<TransingTheInternet />
	<NoAI />
	<Bucket />
</section>

<style>
	section {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5em 1em;
		align-items: baseline;

		margin-block: 1em;

		> * {
			flex: auto;
		}
	}
</style>
