---
import Bucket from './webrings/Bucket.astro';
import N25 from './webrings/N25.astro';
import NoAI from './webrings/NoAI.astro';
import TransingTheInternet from './webrings/TransingTheInternet.astro';
---

<section>
	<TransingTheInternet />
	<NoAI />
	<Bucket />
	<N25 />
</section>

<style>
	section {
		container-type: inline-size;
		display: flex;
		flex-wrap: wrap;
		gap: 1.5em 1em;
		align-items: baseline;
		justify-content: center;

		margin-block: 1em;

		> * {
			flex: auto;
		}
	}
</style>
