---
import type { GetStaticPaths } from 'astro';
import { render } from 'astro:content';
import { getCollection } from 'astro:content';

import CryptopalsLayout from '$src/layouts/CryptopalsLayout.astro';
import HeadingNav from '$src/components/cryptopals/HeadingNav.astro';

export const getStaticPaths = (async () => {
	const sets = await getCollection('cryptopals');
	return sets.map(set => ({
		params: { set: set.id },
		props: { set },
	}));
}) satisfies GetStaticPaths;

const { set } = Astro.props;
const { Content, headings } = await render(set);
---

<CryptopalsLayout>
	<header>
		<h1>Set {set.data.number} — {set.data.title}</h1>
		<p>{set.data.description}</p>
	</header>

	<main>
		<HeadingNav {headings} />

		<Content />
	</main>
</CryptopalsLayout>

<style is:global>
	:root {
		scroll-behavior: smooth;
	}

	main {
		--content-width: 75ch;
		--nav-width: 12rem;
		--gap: 2rem;

		position: relative;

		container-type: inline-size;
		display: grid;
		grid-template-columns:
			[full-width-start] 0 [content-start] minmax(auto, var(--content-width))
			[content-end] auto [full-width-end] var(--gap) [nav-start] minmax(
				min(var(--nav-width), 100%),
				1fr
			)
			[nav-end];

		line-height: 1.8;

		> * {
			grid-column: content;
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			scroll-margin-block-start: 1em;
		}

		> h2 {
			display: flex;
			grid-column: full-width;
			margin-block-start: 2.5em;
			border-block-end: 2px solid var(--cl-accent);

			&::before {
				content: counter(challenge);
				counter-increment: challenge;

				display: block;
				flex: 0 3.4ex;

				aspect-ratio: 1;
				margin-inline-end: 0.5em;
				padding: 0 1ch;

				color: var(--cl-on-accent);
				text-align: center;

				background: var(--cl-accent);
			}

			&:first-of-type {
				counter-reset: challenge;
			}

			+ blockquote {
				--border-color: var(--cl-accent);
				--border-width: 1px;
				--bevel-size: 12px;

				position: relative;

				border: 1px solid var(--border-color);
				border-inline-start-width: 6px;

				font-style: italic;

				background: var(--cl-container);

				&::before {
					--border: var(--bevel-size) solid var(--border-color);
					--transparent: var(--bevel-size) solid transparent;

					content: '';

					position: absolute;
					inset-block-end: 0;
					inset-inline-end: 0;

					border-block-start: var(--transparent);
					border-block-end: var(--border);
					border-inline-start: var(--transparent);
					border-inline-end: var(--border);
				}

				&::after {
					--border: calc(var(--bevel-size) + 1px) solid var(--cl-background);
					--transparent: calc(var(--bevel-size) + 1px) solid transparent;

					content: '';

					position: absolute;
					inset-block-end: calc(var(--border-width) * -1 - 1px);
					inset-inline-end: calc(var(--border-width) * -1 - 1px);

					border-block-start: var(--transparent);
					border-block-end: var(--border);
					border-inline-start: var(--transparent);
					border-inline-end: var(--border);
				}

				> * {
					margin-inline: 1rem;
				}

				li {
					line-height: 1.5;

					& + & {
						margin-block-start: 0.5em;
					}
				}
			}
		}

		> p {
			& + & {
				margin-block-start: 0;
			}

			@container (width < 800px) {
				line-height: 1.6;
			}
		}

		> details {
			padding-inline-start: 1em;
			border-inline-start: 0.4em solid var(--cl-accent);
			background: var(--cl-container);

			summary {
				padding-block: 0.5em;
				font-size: 1.25rem;
				font-weight: bold;

				&::after {
					content: '';

					display: inline-block;

					aspect-ratio: 1;
					width: 1.25em;
					margin-inline-start: 0.25em;

					vertical-align: text-bottom;

					background-color: var(--cl-accent);

					mask-image: url('/src/assets/icons/info.svg');
					mask-repeat: no-repeat;
					mask-size: 100% 100%;
				}
			}
		}

		@media screen and (width <= 1000px) {
			grid-template-columns:
				[full-width-start] 0 [content-start] minmax(auto, var(--content-width))
				[content-end] auto [full-width-end];

			.nav-transform {
				display: none;
			}
		}
	}
</style>
