<div>
	<map name="noaimini4b">
		<area
		href="https://baccyflap.com/noai"
		shape="rect"
		coords="44,6,126,34"
		target="_blank"
		alt="no ai webring"
		title="no ai webring"
		/>
		<area
		href="https://baccyflap.com/noai/?prv&s=moc"
		target="_top"
		shape="poly"
		coords="0,30,20,10,36,10,36,50,20,50"
		alt="previous"
		title="previous"
		/>
		<area
		href="https://baccyflap.com/noai/?nxt&s=moc"
		target="_top"
		shape="poly"
		coords="174,30,154,10,138,10,138,50,154,50"
		alt="next"
		title="next"
		/>
	</map>
	<img
	style="width:176px;image-rendering:pixelated"
	usemap="#noaimini4b"
	src="https://baccyflap.com/noai/miniwidget4.gif"
	alt="a pink rounded rectangle with soft red borders. in the centre is the text NO AI / WEB / RING and to either side are two hearts, changing colour from white to red to pink"
	/>
</div>

<style>
	div {
		text-align: center;
	}

	img {
		filter: hue-rotate(-50deg) saturate(70%);
	}
</style>
