<div class="container">
	<script is:inline defer src="https://transring.neocities.org/ring.js"
	></script>
</div>

<style>
	.container {
		& > :global(div) {
			display: grid;
			grid-template-columns: 1fr;
			justify-items: center;
		}
	}
</style>
