---
import type { HTMLAttributes } from 'astro/types';
import 'sanitize.css';

type Props =
	| {
			title?: string;
	  }
	| HTMLAttributes<'body'>;

const { title = 'have you seen her?', ...props } = Astro.props;
const description =
	'find her find her find her find her find her find her find her find her';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://mocha8686.neocities.org/" />
		<meta
			property="og:image"
			content="https://mocha8686.neocities.org/mizuki.jpg"
		/>
		<meta property="og:description" content={description} />

		<slot name="head" />
		<title>{title}</title>
	</head>
	<body {...props}>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		/* stylelint-disable custom-property-empty-line-before */

		--cl-default-light: oklch(98% 0 0);
		--cl-default-dark: oklch(10% 0 0);

		--cl-foreground: light-dark(
			var(--cl-dark, var(--cl-default-dark)),
			var(--cl-light, var(--cl-default-light))
		);
		--cl-background: light-dark(
			var(--cl-light, var(--cl-default-light)),
			var(--cl-dark, var(--cl-default-dark))
		);

		--cl-on-accent: light-dark(
			oklch(from var(--cl-accent) 100% calc(c * 0.1) h),
			oklch(from var(--cl-accent) 15% calc(c * 0.1) h)
		);

		--cl-container: light-dark(
			oklch(from var(--cl-background) calc(l * 0.98) c h),
			oklch(from var(--cl-background) calc(l * 1.7) c h)
		);
		--cl-outline: light-dark(
			oklch(from var(--cl-accent) calc(l * 1.5) calc(c * 0.05) h),
			oklch(from var(--cl-accent) calc(l * 0.5) calc(c * 0.05) h)
		);

		--cl-accent-container: light-dark(
			oklch(from var(--cl-accent) calc(l * 1.2) c h),
			oklch(from var(--cl-accent) calc(l * 0.8) calc(c * 0.9) h)
		);
		--cl-on-accent-container: light-dark(
			oklch(from var(--cl-accent) 100% 0.02 h),
			oklch(from var(--cl-accent) 15% 0.02 h)
		);

		/* stylelint-enable custom-property-empty-line-before */

		cursor: auto;
	}
</style>
