---
import 'normalize.css/normalize.css';
import '@fontsource/michroma';
import '@fontsource/shippori-mincho';

interface Props {
	title?: string;
}
const { title = 'hihihihi!!!' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	/* stylelint-disable custom-property-empty-line-before */
	:root {
		--cl-fg: hsl(209deg 70% 86% / 100%);
		--cl-bg: hsl(208deg 52% 4% / 100%);
		--cl-accent: hsl(208deg 100% 80%);

		--ff-main: 'Shippori Mincho', 'Times New Roman', serif;
		--ff-accent: 'Michroma', sans-serif;

		--z-bg: -1000;
	}

	body {
		color: var(--cl-fg);
		font-family: var(--ff-main);
	}

	body::before {
		content: '';

		position: fixed;
		z-index: var(--z-bg);
		inset: 0;

		background:
			url('$/assets/pixel_rain.gif') center/contain repeat-x,
			var(--cl-bg);
	}

	a {
		color: var(--cl-accent);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--ff-accent);
		text-transform: uppercase;
	}
</style>
