---
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout>
	<div class="layout">
		<slot />
	</div>
</BaseLayout>

<style is:global>
	:root {
		/* stylelint-disable custom-property-empty-line-before */

		--cl-foreground: hsl(0deg 0% 30% / 100%);
		--cl-background: hsl(0deg 0% 100% / 100%);
		--cl-accent: hsl(202deg 72% 62%);
		--cl-accent-dark: hsl(202deg 72% 30% / 100%);
		--cl-accent-light: hsl(202deg 72% 79% / 100%);
		--cl-on-accent: hsl(213 15% 95% / 100%);

		--ff-main: 'Myriad Pro', sans-serif;
		--ff-accent: 'Eurostile Extended', sans-serif;

		/* stylelint-enable custom-property-empty-line-before */
	}

	body {
		height: 100lvh;

		font-family: var(--ff-main);
		font-weight: 300;
		color: var(--cl-foreground);

		background:
			center / cover no-repeat url('/src/assets/background.jpg'),
			var(--cl-background);
	}

	:where(h1, h2, h3, h4, h5, h6) {
		font-family: var(--ff-accent);
		text-transform: uppercase;
	}
</style>

<style>
	.layout {
		display: grid;
		grid-template-columns: 1fr 60vw 1fr;

		& > :global(*) {
			grid-column: 2;
		}
	}
</style>
