---
import { Font } from 'astro:assets';
import { getCollection } from 'astro:content';

import Marquee from '$src/components/Marquee.astro';

import BaseLayout from './BaseLayout.astro';

const quotes = (await getCollection('quotes')).map(entry => entry.data.quote);
---

<BaseLayout>
	<Fragment slot="head">
		<Font cssVariable="--font-shippori-mincho" preload />
		<Font cssVariable="--font-zen-old-mincho" preload />
	</Fragment>

	<div class="layout">
		<section class="main-content">
			<Marquee class="header" gap="8em" duration="30s" as="header">
				{quotes.map(quote => <li>{quote}</li>)}
			</Marquee>
			<slot />
		</section>
	</div>
</BaseLayout>

<style is:global>
	:root {
		/* stylelint-disable custom-property-empty-line-before */

		--cl-foreground: hsl(0deg 0% 30% / 100%);
		--cl-background: hsl(0deg 0% 100% / 100%);

		--cl-accent: hsl(317 45% 77% / 100%);
		--cl-on-accent: hsl(317 17% 95% / 100%);

		--cl-container: hsl(326 15% 97% / 100%);
		--cl-outline: hsl(326 12% 93% / 100%);

		--ff-main: var(--font-shippori-mincho);
		--ff-accent: var(--font-zen-old-mincho);

		--z-bg: -1000;

		/* stylelint-enable custom-property-empty-line-before */
	}

	body {
		height: 100lvh;
		font-family: var(--ff-main);
		color: var(--cl-foreground);
		background: var(--cl-background);
	}

	body::before {
		pointer-events: none;
		content: '';

		position: fixed;
		z-index: var(--z-bg);
		inset: 0;

		background: center / cover no-repeat url('/src/assets/background.jpg');
	}

	:where(h1, h2, h3, h4, h5, h6) {
		font-family: var(--ff-accent);
	}

	q,
	blockquote {
		&::before {
			content: '“';
		}

		&::after {
			content: '”';
		}

		&:lang(ja)::before {
			content: '「';
		}

		&:lang(ja)::after {
			content: '」';
		}
	}

	ul:not([class]) {
		list-style: none;

		li {
			position: relative;

			&::before {
				--gap: 0.25rem;

				content: '';

				position: absolute;
				inset-block: 0;
				inset-inline-start: calc(-1rem - var(--gap));

				aspect-ratio: 1;
				width: 1rem;

				background: center/contain no-repeat url('/src/assets/bullets/seal.webp');
			}
		}
	}

	::marker {
		max-width: 1rem;
	}
</style>

<style>
	.layout {
		display: grid;
		grid-template-columns: 1fr 40rem 1fr;

		& > :global(*) {
			grid-column: 2;
		}
	}

	.main-content {
		--full-width-margin: 1rem;
		--breakout-margin: 1rem;

		display: grid;
		grid-template-columns:
			[full-width-start] var(--full-width-margin)
			[breakout-start] var(--breakout-margin)
			[content-start] 1fr [content-end] var(--breakout-margin)
			[breakout-end] var(--full-width-margin) [full-width-end];

		margin-block: 2rem;
		padding: 0.5rem;

		background: var(--cl-container);

		:where(& > *) {
			grid-column: content;
		}
	}

	.header {
		grid-column: full-width;

		padding-block: 0.75rem;

		font-style: italic;
		color: var(--cl-on-accent);
		text-transform: lowercase;

		background: var(--cl-accent);
	}
</style>
