---
import { Font, Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import here from '$src/assets/here.jpg';
import Back from '$src/components/Back.astro';
import Marquee from '$src/components/Marquee.astro';

import BaseLayout from './BaseLayout.astro';
import ConsoleDialog from '$src/components/ConsoleDialog.astro';

interface Props {
	back?:
		| {
				href?: string;
				text?: string;
		  }
		| 'disable';
}

const { back } = Astro.props;

const quotes = (await getCollection('quotes')).map(entry => entry.data.quote);
---

<BaseLayout>
	<Fragment slot="head">
		<Font cssVariable="--font-shippori-mincho" preload />
		<Font cssVariable="--font-zen-old-mincho" preload />
	</Fragment>

	<div class="layout">
		<main>
			<Marquee class="header" gap="8em" duration="30s" as="header">
				{quotes.map(quote => <li>{quote}</li>)}
			</Marquee>
			<slot />
			<ConsoleDialog />
			{back !== 'disable' && <Back {...back} />}
			<p class="find find1">Find her<br />Find her</p>
			<div class="find find2">
				<Image src={here} alt="" width={200} height={200} />
				<p class="is-she-here">Is she here?</p>
				<p>Find her find her</p>
				<p>Find her find her</p>
			</div>
		</main>
	</div>
</BaseLayout>

<style is:global>
	:root {
		/* stylelint-disable custom-property-empty-line-before */

		--cl-light: oklch(98% 0 0);
		--cl-dark: oklch(10% 0 0);
		--cl-accent: oklch(60% 0.11 337);

		--ff-main: var(--font-shippori-mincho);
		--ff-accent: var(--font-zen-old-mincho);

		--z-bg: -1000;

		/* stylelint-enable custom-property-empty-line-before */

		color-scheme: only light;
	}

	body {
		min-height: 100lvh;
		font-family: var(--ff-main);
		color: var(--cl-foreground);
		background: var(--cl-background);
	}

	body::before {
		pointer-events: none;
		content: '';

		position: fixed;
		z-index: var(--z-bg);
		inset: 0;

		background: center / cover no-repeat url('/src/assets/background.jpg');
	}

	:where(h1, h2, h3, h4, h5, h6) {
		font-family: var(--ff-accent);
	}

	a {
		color: var(--cl-accent);
	}

	button {
		--delta-brightness: 5%;

		cursor: pointer;

		border: none;

		font-family: var(--ff-accent);
		font-size: 1rem;
		color: var(--cl-on-accent);

		background: var(--cl-accent);

		&:hover,
		&:focus-visible {
			filter: brightness(calc(100% + var(--delta-brightness)));
		}

		&:active {
			filter: brightness(calc(100% - var(--delta-brightness)));
		}
	}

	button:not([class]) {
		border: 4px outset var(--cl-outline);

		&:active {
			border-style: inset;
		}
	}

	q,
	blockquote {
		&::before {
			content: '“';
		}

		&::after {
			content: '”';
		}

		&:lang(ja)::before {
			content: '「';
		}

		&:lang(ja)::after {
			content: '」';
		}
	}

	ul:not([class]) {
		list-style: none;

		> li {
			position: relative;

			&::before {
				--gap: 0.25rem;

				content: '';

				position: absolute;
				inset-block-start: 0.4em;
				inset-inline-start: calc(-1rem - var(--gap));

				aspect-ratio: 1;
				width: 1rem;

				background: center/contain no-repeat url('/src/assets/icons/seal.webp');
			}
		}
	}

	::marker {
		max-width: 1rem;
	}

	main {
		--full-width-margin: 0.5rem;
		--breakout-margin: 1rem;

		position: relative;

		container-type: inline-size;
		display: grid;
		grid-template-columns:
			[full-width-start] var(--full-width-margin)
			[breakout-start] var(--breakout-margin)
			[content-start] 1fr [content-end] var(--breakout-margin)
			[breakout-end] var(--full-width-margin) [full-width-end];

		margin-block: 2rem;
		padding-block: 0.5rem 3rem;

		background: var(--cl-background);

		:where(& > *) {
			grid-column: content;
		}
	}

	main,
	main > header:nth-child(2) {
		> h1:first-of-type {
			margin-inline: -0.5rem;
			padding-block: 0.5rem;

			font-size: clamp(1rem, 0rem + 5.5cqi, 2rem);
			font-weight: normal;
			color: var(--cl-on-accent-container);
			text-align: center;
			text-transform: uppercase;

			background: var(--cl-accent-container);
		}
	}
</style>

<style>
	.layout {
		overflow-x: clip;
		display: grid;
		grid-template-columns:
			1fr [content-start] minmax(auto, 40rem)
			[content-end] 1fr;

		& > :global(*) {
			grid-column: content;
		}
	}

	.header {
		grid-column: breakout;

		padding-block: 0.75rem;

		font-style: italic;
		color: var(--cl-on-accent-container);
		text-transform: lowercase;

		background: var(--cl-accent-container);
	}

	.find1 {
		inset-block-start: calc(22rem - 2em);
		inset-inline-start: -5.2em;
	}

	.find2 {
		inset-block-start: calc(25rem - 2em);
		inset-inline-end: -10.7em;
		display: flex;
		flex-direction: column;

		.is-she-here {
			position: absolute;
			inset-block-start: calc(5rem - 1em);
			inset-inline-start: 6em;

			font-size: 0.9rem;
			color: red;
			text-shadow: none;

			&::before {
				--size: 2rem;
				--gap: 0.25rem;

				content: '';

				position: absolute;
				inset-block: 0;
				inset-inline-start: calc(var(--size) * -1 - var(--gap));
				translate: 0 -25%;

				width: var(--size);
				height: var(--size);
				border: 2px solid red;
				border-radius: 100%;
			}
		}

		p {
			margin: 0;
		}
	}

	.find {
		position: absolute;

		font-family: var(--ff-accent);
		font-size: 3em;
		font-weight: bold;
		line-height: 1.1;
		color: var(--cl-accent);
		text-shadow: var(--cl-background) -4px 1px;
		text-transform: uppercase;

		@media screen and (width <= 50rem) {
			display: none;
		}
	}
</style>
