---
import { Font } from 'astro:assets';

import Marquee from '$src/components/Marquee.astro';

import BaseLayout from './BaseLayout.astro';
---

<BaseLayout>
	<Fragment slot="head">
		<Font cssVariable="--font-shippori-mincho" preload />
		<Font cssVariable="--font-zen-old-mincho" preload />
	</Fragment>

	<div class="layout">
		<section class="main-content">
			<Marquee class="header" gap="8em" duration="30s" as="header">
				<li>
					And all the while, I hoped someone would eventually say it for me.
				</li>
				<li>Be careful what you wish for, huh.</li>
				<li>So tomorrow, you'll say hi as if nothing's changed...!</li>
				<li>I'm sorry I couldn't face up to this.</li>
				<li>You reap what you sow.</li>
				<li>I want to disappear.</li>
			</Marquee>
			<slot />
		</section>
	</div>
</BaseLayout>

<style is:global>
	:root {
		/* stylelint-disable custom-property-empty-line-before */

		--cl-foreground: hsl(0deg 0% 30% / 100%);
		--cl-background: hsl(0deg 0% 100% / 100%);

		--cl-accent: hsl(317 45% 77% / 100%);
		--cl-on-accent: hsl(317 17% 95% / 100%);

		--cl-container: hsl(326 15% 97% / 100%);
		--cl-outline: hsl(326 35% 91% / 100%);

		--ff-main: var(--font-shippori-mincho);
		--ff-accent: var(--font-zen-old-mincho);

		--z-bg: -1000;

		/* stylelint-enable custom-property-empty-line-before */
	}

	body {
		height: 100lvh;
		font-family: var(--ff-main);
		color: var(--cl-foreground);
		background: var(--cl-background);
	}

	body::before {
		pointer-events: none;
		content: '';

		position: fixed;
		z-index: var(--z-bg);
		inset: 0;

		background: center / cover no-repeat url('/src/assets/background.jpg');
	}

	:where(h1, h2, h3, h4, h5, h6) {
		font-family: var(--ff-accent);
	}
</style>

<style>
	.layout {
		display: grid;
		grid-template-columns: 1fr 40rem 1fr;

		& > :global(*) {
			grid-column: 2;
		}
	}

	.main-content {
		--full-width-margin: 1rem;
		--breakout-margin: 1rem;

		display: grid;
		grid-template-columns:
			[full-width-start] var(--full-width-margin)
			[breakout-start] var(--breakout-margin)
			[content-start] 1fr [content-end] var(--breakout-margin)
			[breakout-end] var(--full-width-margin) [full-width-end];

		margin-block: 2rem;
		padding: 0.5rem;

		background: var(--cl-container);

		:where(& > *) {
			grid-column: content;
		}
	}

	.header {
		grid-column: full-width;

		padding-block: 0.75rem;

		font-style: italic;
		color: var(--cl-on-accent);
		text-transform: lowercase;

		background: var(--cl-accent);
	}
</style>
