---
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout>
	<div class="layout">
		<slot />
		<div class="background"></div>
	</div>
</BaseLayout>

<style is:global>
	:root {
		/* stylelint-disable custom-property-empty-line-before */

		--cl-foreground: hsl(0deg 0% 30% / 100%);
		--cl-background: hsl(0deg 0% 100% / 100%);

		--cl-accent: hsl(313 45% 63%);
		--cl-on-accent: hsl(313 17% 95% / 100%);

		--cl-container: hsl(326 15% 97% / 100%);
		--cl-outline: hsl(326 35% 91% / 100%);

		--ff-main: 'Shippori Mincho', serif;
		--ff-accent: 'Shippori Mincho', serif;

		--z-bg: -1000;

		/* stylelint-enable custom-property-empty-line-before */
	}

	body {
		height: 100lvh;
		font-family: var(--ff-main);
		color: var(--cl-foreground);
		background: var(--cl-background);
	}

	body::before {
		pointer-events: none;
		content: '';

		position: fixed;
		z-index: var(--z-bg);
		inset: 0;

		background: center / cover no-repeat url('/src/assets/background.jpg');
	}

	:where(h1, h2, h3, h4, h5, h6) {
		font-family: var(--ff-accent);
		text-transform: uppercase;
	}
</style>

<style>
	.layout {
		display: grid;
		grid-template-columns: 1fr 60vw 1fr;

		& > :global(*) {
			grid-column: 2;
		}
	}
</style>
