---
import 'katex/dist/katex-swap.min.css';

import Font from 'astro/components/Font.astro';
import { getImage } from 'astro:assets';

import Gear from '$src/assets/gear.svg';
import sky from '$src/assets/sky.jpg';
import Back from '$src/components/Back.astro';

import BaseLayout from './BaseLayout.astro';

const optimizedSky = await getImage({ src: sky });
---

<BaseLayout style={`--background-image: url("${optimizedSky.src}")`}>
	<Fragment slot="head">
		<Font cssVariable="--font-indie-flower" preload />
	</Fragment>

	<main>
		<div class="layout">
			<slot />

			<Back />
		</div>
	</main>

	<button class="open-settings" command="show-modal" commandfor="options">
		<Gear />
		Settings
	</button>

	<dialog
		id="options"
		closedby="any"
		x-data={'{ mathUsePlainFont: $persist(false) }'}
	>
		<h2>Options</h2>

		<label>
			<input class="plain-font" type="checkbox" x-model:value="mathUsePlainFont" />
			Use plain font
		</label>

		<div class="button-row">
			<button command="close" commandfor="options">Close</button>
		</div>
	</dialog>
</BaseLayout>

<style>
	button {
		cursor: pointer;
		font: inherit;
	}

	dialog {
		min-width: min(100%, 24rem);

		h2 {
			margin-block: 0.5em 1em;
		}
	}

	.open-settings {
		position: absolute;
		inset-block-start: 0;
		inset-inline-end: 0;
	}

	.button-row {
		display: flex;
		justify-content: end;
		margin-block-start: 2em;
	}
</style>

<style is:global>
	:root {
		/* stylelint-disable custom-property-empty-line-before */
		--cl-light: oklch(95% 0.01 115);
		--cl-dark: oklch(40% 0 90);
		--cl-accent: blue;

		--cl-outline: oklch(38% 0.1 24);
		--cl-container: oklch(38% 0.1 24 / 0.4);

		--ff-main: var(--font-indie-flower);
		--ff-plain: Tahoma, Helvetica, Arial, sans-serif;
		--ff-accent: var(--ff-main);

		--fs-main: 18px;
		--fs-math: 16px;

		--z-bg: -1000;
		/* stylelint-enable custom-property-empty-line-before */
	}

	body {
		font-family: var(--ff-main);
		font-size: var(--fs-main);
		color: var(--cl-dark);

		color-scheme: only dark;
		accent-color: var(--cl-accent);
		background: var(--cl-light);

		&::before {
			content: '';

			position: fixed;
			z-index: var(--z-bg);
			inset: 0;

			background: repeat-y top/100% auto var(--background-image);

			animation: parallax linear;
			animation-timeline: scroll();
		}

		&:has(.plain-font:checked) {
			font-family: var(--ff-plain);
		}

		> * {
			grid-column: content;
		}
	}

	main {
		container-type: inline-size;
	}

	.layout {
		--column-gap: 2rem;

		display: grid;
		grid-template-columns:
			[full-width-start] 1fr [content-start] minmax(auto, 80ch)
			[content-end] 1fr [full-width-end];

		margin: 4rem clamp(1rem, 8vw - 0.75rem, 6rem);
		padding: 0.5rem 1rem;
		border: 1rem outset silver;

		background-color: var(--cl-light);
		box-shadow: 0px 5px 25px -10px var(--cl-dark);

		> * {
			grid-column: content;
		}

		> * + * {
			margin-block-start: 0;
		}

		> p {
			line-height: 1.45;
			letter-spacing: 0.3px;
		}

		> hr {
			grid-column: full-width;
			width: 100%;
			margin-block-end: 2em;
		}

		img {
			display: block;

			max-width: 100%;
			height: auto;
			border: 2px solid silver;

			object-fit: contain;
			box-shadow: 0 4px 10px -4px rgb(0 0 0 / 30%);
		}

		p:has(> img:first-child:last-child),
		p:has(> img:first-child):has(> em:last-child) {
			margin-block: 2em 3em;
			margin-inline: clamp(0rem, 30cqi - 6.5rem, 6rem);

			> em {
				display: block;
				margin-block-start: 0.5em;
				line-height: 1.2;
				text-align: center;
			}
		}

		@container (width >= calc(80ch + 20rem)) {
			&:has(img) {
				grid-template-columns:
					[full-width-start] 1fr [content-start] minmax(auto, 80ch)
					[content-end] var(--column-gap) [float-start] minmax(auto, 30rem)
					[float-end] 1fr [full-width-end];
			}

			p:has(> img:first-child:last-child),
			p:has(> img:first-child):has(> em:last-child) {
				grid-column: float;
				grid-row: span 3;
				margin-inline: clamp(0rem, calc(20cqi - 8rem), 4rem);
			}
		}
	}

	a {
		color: var(--cl-accent);
	}

	.katex,
	.katex-display {
		font-size: var(--fs-math);
	}

	code {
		font-size: var(--fs-math);
	}

	@keyframes parallax {
		to {
			background-position-y: bottom;
		}
	}
</style>
