---
import 'katex/dist/katex-swap.min.css';

import Font from 'astro/components/Font.astro';
import { getImage } from 'astro:assets';

import sky from '$src/assets/sky.jpg';
import Back from '$src/components/Back.astro';

import BaseLayout from './BaseLayout.astro';

const optimizedSky = await getImage({ src: sky });
---

<BaseLayout style={`--background-image: url("${optimizedSky.src}")`}>
	<Fragment slot="head">
		<Font cssVariable="--font-indie-flower" preload />
	</Fragment>

	<main>
		<slot />

		<Back />
	</main>
</BaseLayout>

<style is:global>
	:root {
		/* stylelint-disable custom-property-empty-line-before */
		--cl-light: oklch(95% 0.01 115);
		--cl-dark: oklch(40% 0 90);
		--cl-accent: blue;

		--cl-outline: oklch(38% 0.1 24);
		--cl-container: oklch(38% 0.1 24 / 0.4);

		--ff-main: var(--font-indie-flower);
		--ff-accent: var(--ff-main);

		--fs-main: 18px;
		--fs-math: 16px;

		--z-bg: -1000;
		/* stylelint-enable custom-property-empty-line-before */
	}

	body {
		font-family: var(--ff-main);
		font-size: var(--fs-main);
		color: var(--cl-dark);

		color-scheme: only dark;
		accent-color: var(--cl-accent);
		background: var(--cl-light);

		&::before {
			content: '';

			position: fixed;
			z-index: var(--z-bg);
			inset: 0;

			background: repeat-y top/100% auto var(--background-image);

			animation: parallax linear;
			animation-timeline: scroll();
		}

		> * {
			grid-column: content;
		}
	}

	main {
		--column-gap: 2rem;

		container-type: inline-size;
		display: grid;
		grid-template-columns:
			[full-width-start] 0 [content-start] minmax(min(80ch, 100%), 1fr)
			[content-end] var(
				--column-gap
			) [breakout-start] 1fr [right-end] 0 [full-width-end];

		margin: 2rem clamp(1rem, 8vw - 0.75rem, 6rem);
		padding: 0.5rem 1rem;
		border: 1rem outset silver;

		background-color: var(--cl-light);
		box-shadow: 0px 5px 25px -10px var(--cl-dark);

		> * {
			grid-column: content;
		}

		> hr {
			grid-column: full-width;
			width: 100%;
		}

		img {
			display: block;

			max-width: 100%;
			height: auto;
			border: 2px solid silver;

			object-fit: contain;
			box-shadow: 0 4px 8px -3px rgb(0 0 0 / 50%);
		}

		p:has(> img:first-child:last-child),
		p:has(> img:first-child):has(> em:last-child) {
			margin-inline: clamp(0rem, 30cqi - 4.5rem, 6rem);

			> em {
				display: block;
				margin-block-start: 0.5em;
				line-height: 1.2;
				text-align: center;
			}

			@container (width > calc(80ch + 8rem + 10rem)) {
				grid-column: breakout;
				margin-inline: calc(20cqi - 10.75rem);
			}
		}
	}

	a {
		color: var(--cl-accent);
	}

	.katex,
	.katex-display {
		font-size: var(--fs-math);
	}

	code {
		font-size: var(--fs-math);
	}

	@keyframes parallax {
		to {
			background-position-y: bottom;
		}
	}
</style>
