---
import Window from "$src/components/Window.astro";
import MainLayout from "./MainLayout.astro";
---

<MainLayout>
	<h1>Under Construction</h1>
	<Window>
		<h2>Apologies</h2>
		<p>this page is still under construction!</p>
		<a href="/">back to home</a>
	</Window>
</MainLayout>
