---
import BackToHome from '$/components/BackToHome.astro';
import Bounded from '$/components/Bounded.astro';
import Section from '$/components/Section.astro';
import Settings from '$/components/Settings.astro';
import Layout from '$/layouts/Layout.astro';
import { render } from 'astro:content';
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';

dayjs.extend(utc);

const blog = await getCollection('blog');
const posts = await Promise.all(
	blog
		.toSorted((a, b) => dayjs(b.data.date).diff(dayjs(a.data.date)))
		.map(async post => {
			const date = dayjs.utc(post.data.date).format('YYYY-MM-DD');
			const datetime = date;

			const { Content } = await render(post);

			return {
				datetime,
				date,
				Content,
			};
		}),
);
---

<Layout>
	<Bounded class="container">
		<Section class="blog">
			<h1>Blog</h1>
			{
			posts.map(({ datetime, date, Content }) => (
					<section>
						<h2><time {datetime}>{date}</time></h2>
						<Content />
					</section>
				))
			}
		</Section>

		<section class="side">
			<Settings />

			<Section>
				<BackToHome />
			</Section>
		</section>
	</Bounded>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: row;
		align-items: start;
	}

	.blog {
		max-width: 80ch;
	}

	.side {
		flex: auto;
		min-width: max-content;
	}
</style>
